// colors
$light-gray:#B7B4B7;
$white-gray:#F7F7F7;
$gray:#777;
$pb-color:#F9FAFB;
$bg-tile:#F8F9FA;
$bg-color:#fff;
$gray-transparent:rgba(222, 221, 222, 0.4);
$black: #000000;
$black-transparent:#00000085;
$white: #ffffff;
$white-opacity: #ffffff99;
$black-opacity: #000000a6;
$light-blue:#9DC0D6;
$light-yellow:#fcfff4;
$light-red:#D55650;

$num-of-slide: 3;
$times: 2,4,6,10,15,24,30;